body {
  padding: 0%;
  margin: auto;
}

.search-form {
  display: flex;
  justify-content: flex-end;
}

.search-input-container {
  display: flex;
  align-items: center;
}

.search-input {
  margin-top: 10px;
  padding: 10px;
}

.button-link {
  display: inline-block;
  padding: 10px 20px;
  background-color: #e91e63;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  text-decoration: none;
  cursor: pointer;
  margin-left:1500px ;
  transition: background-color 0.3s ease;
}

.button-link:hover {
  background-color: #006eff;
}

.viewtrailer {
  min-height: 700px;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: flex-end;
}

.busqueda {
  padding: 10px;
  width: 300px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.busqueda:hover {

  background-color: #0051ff;
  color: #ffffff;
}

.search-form {
  display: flex;
  align-items: center;
}

.boton-search {
  background-color: #fff;
  border: none;
  border-radius: 0.25rem;
  color: #333;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}

.boton-search:hover {
  background-color: #0051ff;
  color: #fff;
}

.boton {
  padding: 0.5rem 1rem;
  background-color: #fff;
  border: none;
  border-radius: 0.25rem;
  color: #333;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}

.boton:hover {
  background-color: #0051ff;
  color: #fff;
}

.reproductor {
  width: 100%;
  height: 600px;
}

.container {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  background-color: #fff;
  border: none;
  border-radius: 0.25rem;
  color: #333;
  font-size: 1.2rem;
  font-weight: bold;
  transition: all 0.3s ease;

}

.inline-div {
  display: inline-block;
}


.left {
  align-self: flex-start;
  margin-left: 10px;
}

.left-logo {
  position: absolute;
  top: 30px;
  left: 220px;
  width: 50px;
  /* Ancho de la imagen */
  height: 50px;
}

.right {
  align-self: flex-end;
}

.movie-container {
  display: flex;
  flex-wrap: nowrap;
  /* Evita el ajuste automático de los elementos en varias líneas */
  overflow-x: auto;
  /* Permite desplazarse horizontalmente si hay muchas películas */
}

.movie-card {
  flex: 0 0 auto;
  /* Permite que los elementos tengan un ancho automático según su contenido */
  margin-right: 10px;
  /* Espacio entre las películas */
}

.movie-card:last-child {
  margin-right: 0;
  /* Elimina el margen derecho del último elemento */
}

.series-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.button-linkk {
  display: inline-block;
  padding: 10px 20px;
  background-color: #e91e63;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button-linkk:hover {
  background-color: #006eff;
}