/* Login.css */
.loginh2 {
  font-size: 2rem;
  color: white;
}

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('../../public/images/wallpaperflare.com_wallpaper.jpg') ; 
  background-size: cover; /* Para cubrir todo el espacio del contenedor */
  background-position: center; /* Para centrar la imagen */
  position: fixed;
}

@media (max-width: 600px) {
  .logologin {
    width: 300px;
  }
}

@media (min-width: 600px) {
  .logologin {
    width: 500px;
  }
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  background-color: #333333;
  border-radius: 5px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
  height: 75%; 
} 

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  width: 100%;
  max-width: 400px;
}

.labelLogin {
  font-size: 2.5rem;
  margin-bottom: 10px;
  color: #0051ff;
  text-align: left;
}

.not{
  color: white;
}
label {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #0051ff;
  text-align: start;
}

input[type='email'] {
  font-size: 1.5rem;
  padding: 5px;
  border-radius: 5px;
  border: none;
  background-color: #ffffff;
  color: #000000;
  width: 100%;
  margin-bottom: 10px;
}
input[type='password'],


.sign {
  font-size: 1.5rem;
  margin-top: 10px ;
  padding: 10px 50px;
  border-radius: 5px;
  border: none;
  background-color: #0051ff;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

button[type='submit']:hover {
  background-color: #2500f8;
}

